body {
    font-family: 'Montserrat', sans-serif;
}


#title {
    background-color: #ff4c68;
    font-family: montserret-black;
}

/* features section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
    
}

.feature-box {
    text-align: center;
    padding: 4%;
    font-family: ubuntu;

}

h3 {
    font-weight: bolder;
   
}

p {
    font-weight: bold;
    font-family: 'ubuntu';
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    padding-bottom: 1.3rem;
}

.icon:hover {
    color: #ff4c68;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: azure;
    font-weight: bold;
    margin-right: 2rem;
}

h2 {
    font-family: 'Ubuntu';
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
    font-weight: bolder;

}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navbar */

.navbar {
    padding-bottom: 2.5rem;
}

.navbar-brand {
    font-family: ubuntu;
    font-weight: bold;
    font-size: 2.3rem;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-size: 1.2rem;  
    font-family: montserrat-light;
    font-weight: bold;
}

/* Download buttons */

.download-button    {
    margin: 5% 3% 5% 0%;
}



/* title image */

.title-image {
    width: 21%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}


/* Testimonials section */

#testimonials {
    
    text-align: center;
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;

}

em {
    color: #fff;
    font-family:  'ubuntu';
}

/* press-section */

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}


.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing section */

.price-heading {
       color: black;
}

.dog-name {
    font-family: 'ubuntu';
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-coloumn {
    padding: 3% 2%;
}


@media (max-width:  1028px) {


    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}



/* CTA */

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}


.cta-text {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;

}


/* Footer section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}